
.anim{
	position:float;
	float:right;	
}

.arrows{
	float:right;
	margin-right:15%;
	background-color: inherit;
}

.arrows > a:hover{
	background-color:inherit;
	-moz-box-shadow:inset 0px 0px 0px 2px grey;
	-webkit-box-shadow:inset 0px 0px 0px 2px grey;
	box-shadow:inset 0px 0px 0px 2px grey;
	border-radius:2px;
	padding-top:2px;
	padding-bottom:2px;
}

.backward{
	margin-right:20px;
}

.block{
	display:block;
}

div.border:hover{
	border:2px;
	border-radius:2px;
	border-color: grey;
}

.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group {
  margin-left: 5px;
}

.check:hover{
	background-color:inherit;
	-moz-box-shadow:inset 0px 0px 0px 4px #25bb20;
	-webkit-box-shadow:inset 0px 0px 0px 4px #25bb20;
	box-shadow:inset 0px 0px 0px 4px #25bb20;
}

.correct{
	font-weight:bold;
	color:green;
}

.error:hover, .eclick{
	background-color:inherit;
	-moz-box-shadow:inset 0px 0px 0px 4px #f51010;
	-webkit-box-shadow:inset 0px 0px 0px 4px #f51010;
	box-shadow:inset 0px 0px 0px 4px #f51010;
}

.forward{
	margin-left:20px;
}

.image{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

.nombre{
	font-weight:bold;
	vertical-align:middle;
}

.option.active,
.option:active{
	background-color:inherit;
	-moz-box-shadow:inset 0px 0px 0px 4px #827979;
	-webkit-box-shadow:inset 0px 0px 0px 4px #827979;
	box-shadow:inset 0px 0px 0px 4px #827979;
}

.option:hover{
	background-color:inherit;
	-moz-box-shadow:inset 0px 0px 0px 2px #827979;
	-webkit-box-shadow:inset 0px 0px 0px 2px #827979;
	box-shadow:inset 0px 0px 0px 2px #827979;
}

.wrong{
	font-weight:bold;
	color:red;
}

#ayuda {
    visibility: hidden;
    position: absolute;
    text-align:center;
   	opacity:1;
    -webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

#ayuda p{
	text-align:center;
}

#feedback{
	text-align: center;
	display:in-block;
}

#navbar{
	position: fixed;
	margin:0 0;
	width:100%;
	display:inline-block;	
}

/*Per a que el modal funcioni be en IE */
body {
     height:100%;    
     padding-left:5px;
     -moz-scrolling:no;
     -webkit-scrolling:no;
}

#context_answer,
#context_answer2 {
  	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-bottom:5px;
    padding-left:2px;
    padding-top:5px;
    margin-bottom:20px;
}

#context_question{
  	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding:5px 2px; 
    margin-bottom:10px;
}

#resp2 {	
	padding-left:2%;
	padding-bottom:1%;	
}

#resp button.btn[disabled]:hover,
#resp2 button.btn[disabled]:hover{
	background:#e6e6e6;
	-moz-background:#e6e6e6;
	-webkit-background:#e6e6e6;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

#resp{
	padding-top:2%;
	padding-left:10px;	
}

#resp a, #resp2 a{
	margin-right:3px;
}

#resp .btn, #resp2 .btn {
	-webkit-border-radius: 3px;
   	-moz-border-radius: 3px;
   	border-radius: 3px;
	background-color:none;
   	background-image:none;
   	border:none;
   	padding: 8.5px 17px;
   	text-decoration: none;
   	vertical-align: middle;   
}   

p {
	text-align: left;	
}

ol li {
	font-weight:700;
	list-style-type:upper-alpha;	
}