
.anim{
	position:float;
	float:right;	
}

.arrows{
	float:right;
	margin-left:5%;
	margin-right:15%;
}

.backward{
	margin-right:20px;
}

.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group {
  margin-left: 5px;
}

.correct{
	font-weight:bold;
	color:green;
}

.forward{
	margin-left:20px;
}

.image{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

.wrong{
	font-weight:bold;
	color:red;
}

#ayuda {
    visibility: hidden;
    position: absolute;
    text-align:center;
   	opacity:1;
    -webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

#ayuda p{
	text-align:center;
}

#feedback{
	text-align: center;
	display:in-block;
}

#navbar{
	position: fixed;
	margin:0 0;
	width:100%;
	display:inline-block;	
}

/*Per a que el modal funcioni be en IE */
body {
     height:100%;    
     padding-left:5px;
     -moz-scrolling:no;
     -webkit-scrolling:no;
}

#context_answer,
#context_answer2 {
  	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-bottom:5px;
    padding-left:2px;
    padding-top:5px;
    margin-bottom:20px;
}

#context_question{
  	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding:5px 2px; 
    margin-bottom:10px;
}

#resp2 {	
	padding-left:2%;
	padding-bottom:1%;	
}

#resp button.btn[disabled]:hover,
#resp2 button.btn[disabled]:hover{
	background:#e6e6e6;
	-moz-background:#e6e6e6;
	-webkit-background:#e6e6e6;
}

#resp{
	padding-top:2%;
	padding-left:10px;	
}

#resp a, #resp2 a{
	margin-right:3px;
}

#resp .btn, #resp2 .btn {
	-webkit-border-radius: 3px;
   	-moz-border-radius: 3px;
   	border-radius: 3px;
	background-color:none;
   	background-image:none;
   	border:none;
   	padding: 8.5px 17px;
   	text-decoration: none;
   	vertical-align: middle;   
}
   
#resp .check:hover, #resp2 .check:hover{
	background: #1cad21;
   	background: -webkit-gradient(linear, left top, left bottom, from(#1cd622), to(#1cad21));
   	background: -webkit-linear-gradient(top, #1cd622, #1cad21);
   	background: -moz-linear-gradient(top, #1cd622, #1cad21);
   	background: -ms-linear-gradient(top, #1cd622, #1cad21);
   	background: -o-linear-gradient(top, #1cd622, #1cad21);
}

#resp .error:hover, #resp2 .error:hover{
	background: #c71c1c;
   	background: -webkit-gradient(linear, left top, left bottom, from(#f04343), to(#c71c1c));
   	background: -webkit-linear-gradient(top, #f04343, #c71c1c);
   	background: -moz-linear-gradient(top, #f04343, #c71c1c);
   	background: -ms-linear-gradient(top, #f04343, #c71c1c);
   	background: -o-linear-gradient(top, #f04343, #c71c1c);
}
   
#resp .btn.option:hover, 
#resp2 .btn.option:hover {
	-webkit-border-radius: 3px;
   	-moz-border-radius: 3px;
   	border-radius: 3px;
   	background: #8793a1;
   	background: -webkit-gradient(linear, left top, left bottom, from(#bdd5e6), to(#8793a1));
   	background: -webkit-linear-gradient(top, #bdd5e6, #8793a1);
   	background: -moz-linear-gradient(top, #bdd5e6, #8793a1);
  	background: -ms-linear-gradient(top, #bdd5e6, #8793a1);
   	background: -o-linear-gradient(top, #bdd5e6, #8793a1);
   	box-shadow: rgba(0,0,0,1) 0 0 0;
   	color: #ffffff;
   	text-shadow: rgba(0,0,0,.4) 0 1px 0;
}

#resp .btn.option.active,
#resp .btn.option:active,
#resp2 .btn.option.active,
#resp2 .btn.option:active {
	border-top-color: #407aa1;
  	background: #407aa1;
  	background-image: none;
  	outline: 0;
  	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

p {
	text-align: left;	
}

ol li {
	font-weight:700;
	list-style-type:upper-alpha;	
}